*,
*::before,
*::after {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* SETUP */
:root {
  --accent: #CC0025;
  --black: #1E1E1E;
  --white: #F5F5F5;
  --nav-inactive: #afafaf;
  --nav-active: #FFFFFF;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--white);
  background-color: var(--black);
}

#content { 
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* NAV */
.nav-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  width: 100%;
  position: fixed;
  padding: 25px 75px;
  border-bottom: 1px solid var(--white);
  background-color: var(--black);
  z-index: 100;
}

.logo {
  font-family: Knewave;
  font-size: 64px;
  transform: translateY(-8px);
  user-select: none;
}

.first-letter {
  color: var(--accent)
}

.nav-menu {
  display: flex;
  gap: 30px;
  justify-self: center;
  font-weight: 600;
  color: var(--nav-inactive);
  transform: translateX(-100px);
}

.active {
  position: relative;
  color: var(--nav-active);
  pointer-events: none;
  text-shadow: 0 0 8px rgba(255, 255, 255, .25);
}

.active::after {
  content: "";
  height: 5px;
  width: 100%;
  left: 0;
  bottom: -10px;
  position: absolute;
  background-color: var(--accent);
  transition: 0.4s;
}

.active:hover::after {
  width: 0;
}

.item {
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: all .4s;
}

.item:hover {
  color: var(--nav-active);
}

.social-icons {
  display: flex;
  gap: 20px;
}

.fa-brands {
  font-size: 25px;
  cursor: pointer;
  transition: all .4s;
  color: var(--nav-inactive);
}

.fa-brands:hover {
  transform: translateY(-5px);
  color: var(--nav-active);
}

/* MAIN */
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  flex: 1;
}

.main-wrapper--home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hero {
  margin-left: 190px;
  flex: 1.1;
}

.header, .txt {
  max-width: 700px;
}

.header {
  font-size: 86px;
  font-weight: normal;
  line-height: 1.1;
  margin-bottom: 40px;
}

.txt {
  font-size: 20px;
  margin-bottom: 41px;
  max-width: 600px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 70px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: inherit;
  background-color: var(--accent);
  cursor: pointer;
  transition: all .4s;
  z-index: 1;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--white);
  transform: scaleX(0);
  transition: all .4s;
  transform-origin: left;
}

.btn:hover,
.btn:focus {
  color: var(--accent);
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleX(1);
}

.image {
  flex: 0.9;
  width: 50%;
  height: auto;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px 0;
  flex-shrink: 0;
  font-size: 16px;
  background-color: rgba(0, 0, 0, .4);
}
